<div class="products__slider">
    <div class="product__wrapper">
        <div class="products__slider-item product">
            <div class="product__status">
                <div class="product__status-type">
                    new
                </div>
                <div class="product__status-circle"></div>
            </div>
            <div class="product__image">
                <img src="<%=require('@img/product-1.png') %>" alt="" class="product__image-img">
            </div>
            <div class="product__title">
                Островная вытяжка Equilibrium Black Glass
            </div>
            <div class="product__price">
                6 690 ₽ <span class="product__price-old">6 999 ₽  </span>
            </div>
            <button class="product__add">
                <i>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.733 21.8673L20.7079 10.315C20.6895 10.0864 20.4977 9.91309 20.2654 9.91309H18.1047C18.101 7.99201 16.5376 6.4286 14.6165 6.4286C12.6954 6.4286 11.132 7.99201 11.1283 9.91309H8.96754C8.73893 9.91309 8.54719 10.0864 8.52507 10.315L7.5 21.8673V21.9079C7.5 23.1947 8.68362 24.2419 10.1364 24.2419H19.0966C20.5493 24.2419 21.733 23.1947 21.733 21.9079V21.8673ZM14.6165 7.31357C16.0509 7.31357 17.2161 8.47875 17.2198 9.91311H12.0133C12.017 8.47875 13.1822 7.31357 14.6165 7.31357ZM10.1364 23.3532H19.0965C20.0552 23.3532 20.8369 22.7153 20.848 21.9263L19.8598 10.798H18.1046V12.3503C18.1046 12.5937 17.9055 12.7928 17.6622 12.7928C17.4188 12.7928 17.2197 12.5937 17.2197 12.3503V10.798H12.0132V12.3503C12.0132 12.5937 11.8141 12.7928 11.5707 12.7928C11.3274 12.7928 11.1283 12.5937 11.1283 12.3503V10.798H9.37311L8.38491 21.9226C8.39597 22.7153 9.17768 23.3532 10.1364 23.3532Z" fill="white"/>
                    </svg>                    
                </i>
                В корзину
            </button>
        </div>
    </div>
    <div class="product__wrapper">
        <div class="products__slider-item product">
            <div class="product__status">
                <div class="product__status-type">
                    new
                </div>
                <div class="product__status-circle"></div>
            </div>
            <div class="product__image">
                <img src="<%=require('@img/product-1.png') %>" alt="" class="product__image-img">
            </div>
            <div class="product__title">
                Островная вытяжка Equilibrium Black Glass
            </div>
            <div class="product__price">
                6 690 ₽ <span class="product__price-old">6 999 ₽  </span>
            </div>
            <button class="product__add">
                <i>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.733 21.8673L20.7079 10.315C20.6895 10.0864 20.4977 9.91309 20.2654 9.91309H18.1047C18.101 7.99201 16.5376 6.4286 14.6165 6.4286C12.6954 6.4286 11.132 7.99201 11.1283 9.91309H8.96754C8.73893 9.91309 8.54719 10.0864 8.52507 10.315L7.5 21.8673V21.9079C7.5 23.1947 8.68362 24.2419 10.1364 24.2419H19.0966C20.5493 24.2419 21.733 23.1947 21.733 21.9079V21.8673ZM14.6165 7.31357C16.0509 7.31357 17.2161 8.47875 17.2198 9.91311H12.0133C12.017 8.47875 13.1822 7.31357 14.6165 7.31357ZM10.1364 23.3532H19.0965C20.0552 23.3532 20.8369 22.7153 20.848 21.9263L19.8598 10.798H18.1046V12.3503C18.1046 12.5937 17.9055 12.7928 17.6622 12.7928C17.4188 12.7928 17.2197 12.5937 17.2197 12.3503V10.798H12.0132V12.3503C12.0132 12.5937 11.8141 12.7928 11.5707 12.7928C11.3274 12.7928 11.1283 12.5937 11.1283 12.3503V10.798H9.37311L8.38491 21.9226C8.39597 22.7153 9.17768 23.3532 10.1364 23.3532Z" fill="white"/>
                    </svg>                    
                </i>
                В корзину
            </button>
        </div>
    </div>
    <div class="product__wrapper">
        <div class="products__slider-item product">
            <div class="product__status">
                <div class="product__status-type">
                    new
                </div>
                <div class="product__status-circle"></div>
            </div>
            <div class="product__image">
                <img src="<%=require('@img/product-1.png') %>" alt="" class="product__image-img">
            </div>
            <div class="product__title">
                Островная вытяжка Equilibrium Black Glass
            </div>
            <div class="product__price">
                6 690 ₽ <span class="product__price-old">6 999 ₽  </span>
            </div>
            <button class="product__add">
                <i>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.733 21.8673L20.7079 10.315C20.6895 10.0864 20.4977 9.91309 20.2654 9.91309H18.1047C18.101 7.99201 16.5376 6.4286 14.6165 6.4286C12.6954 6.4286 11.132 7.99201 11.1283 9.91309H8.96754C8.73893 9.91309 8.54719 10.0864 8.52507 10.315L7.5 21.8673V21.9079C7.5 23.1947 8.68362 24.2419 10.1364 24.2419H19.0966C20.5493 24.2419 21.733 23.1947 21.733 21.9079V21.8673ZM14.6165 7.31357C16.0509 7.31357 17.2161 8.47875 17.2198 9.91311H12.0133C12.017 8.47875 13.1822 7.31357 14.6165 7.31357ZM10.1364 23.3532H19.0965C20.0552 23.3532 20.8369 22.7153 20.848 21.9263L19.8598 10.798H18.1046V12.3503C18.1046 12.5937 17.9055 12.7928 17.6622 12.7928C17.4188 12.7928 17.2197 12.5937 17.2197 12.3503V10.798H12.0132V12.3503C12.0132 12.5937 11.8141 12.7928 11.5707 12.7928C11.3274 12.7928 11.1283 12.5937 11.1283 12.3503V10.798H9.37311L8.38491 21.9226C8.39597 22.7153 9.17768 23.3532 10.1364 23.3532Z" fill="white"/>
                    </svg>                    
                </i>
                В корзину
            </button>
        </div>
    </div>
    <div class="product__wrapper">
        <div class="products__slider-item product">
            <div class="product__status">
                <div class="product__status-type">
                    new
                </div>
                <div class="product__status-circle"></div>
            </div>
            <div class="product__image">
                <img src="<%=require('@img/product-1.png') %>" alt="" class="product__image-img">
            </div>
            <div class="product__title">
                Островная вытяжка Equilibrium Black Glass
            </div>
            <div class="product__price">
                6 690 ₽ <span class="product__price-old">6 999 ₽  </span>
            </div>
            <button class="product__add">
                <i>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.733 21.8673L20.7079 10.315C20.6895 10.0864 20.4977 9.91309 20.2654 9.91309H18.1047C18.101 7.99201 16.5376 6.4286 14.6165 6.4286C12.6954 6.4286 11.132 7.99201 11.1283 9.91309H8.96754C8.73893 9.91309 8.54719 10.0864 8.52507 10.315L7.5 21.8673V21.9079C7.5 23.1947 8.68362 24.2419 10.1364 24.2419H19.0966C20.5493 24.2419 21.733 23.1947 21.733 21.9079V21.8673ZM14.6165 7.31357C16.0509 7.31357 17.2161 8.47875 17.2198 9.91311H12.0133C12.017 8.47875 13.1822 7.31357 14.6165 7.31357ZM10.1364 23.3532H19.0965C20.0552 23.3532 20.8369 22.7153 20.848 21.9263L19.8598 10.798H18.1046V12.3503C18.1046 12.5937 17.9055 12.7928 17.6622 12.7928C17.4188 12.7928 17.2197 12.5937 17.2197 12.3503V10.798H12.0132V12.3503C12.0132 12.5937 11.8141 12.7928 11.5707 12.7928C11.3274 12.7928 11.1283 12.5937 11.1283 12.3503V10.798H9.37311L8.38491 21.9226C8.39597 22.7153 9.17768 23.3532 10.1364 23.3532Z" fill="white"/>
                    </svg>                    
                </i>
                В корзину
            </button>
        </div>
    </div>
    <div class="product__wrapper">
        <div class="products__slider-item product">
            <div class="product__status">
                <div class="product__status-type">
                    new
                </div>
                <div class="product__status-circle"></div>
            </div>
            <div class="product__image">
                <img src="<%=require('@img/product-1.png') %>" alt="" class="product__image-img">
            </div>
            <div class="product__title">
                Островная вытяжка Equilibrium Black Glass
            </div>
            <div class="product__price">
                6 690 ₽ <span class="product__price-old">6 999 ₽  </span>
            </div>
            <button class="product__add">
                <i>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.733 21.8673L20.7079 10.315C20.6895 10.0864 20.4977 9.91309 20.2654 9.91309H18.1047C18.101 7.99201 16.5376 6.4286 14.6165 6.4286C12.6954 6.4286 11.132 7.99201 11.1283 9.91309H8.96754C8.73893 9.91309 8.54719 10.0864 8.52507 10.315L7.5 21.8673V21.9079C7.5 23.1947 8.68362 24.2419 10.1364 24.2419H19.0966C20.5493 24.2419 21.733 23.1947 21.733 21.9079V21.8673ZM14.6165 7.31357C16.0509 7.31357 17.2161 8.47875 17.2198 9.91311H12.0133C12.017 8.47875 13.1822 7.31357 14.6165 7.31357ZM10.1364 23.3532H19.0965C20.0552 23.3532 20.8369 22.7153 20.848 21.9263L19.8598 10.798H18.1046V12.3503C18.1046 12.5937 17.9055 12.7928 17.6622 12.7928C17.4188 12.7928 17.2197 12.5937 17.2197 12.3503V10.798H12.0132V12.3503C12.0132 12.5937 11.8141 12.7928 11.5707 12.7928C11.3274 12.7928 11.1283 12.5937 11.1283 12.3503V10.798H9.37311L8.38491 21.9226C8.39597 22.7153 9.17768 23.3532 10.1364 23.3532Z" fill="white"/>
                    </svg>                    
                </i>
                В корзину
            </button>
        </div>
    </div>
    <div class="product__wrapper">
        <div class="products__slider-item product">
            <div class="product__status">
                <div class="product__status-type">
                    new
                </div>
                <div class="product__status-circle"></div>
            </div>
            <div class="product__image">
                <img src="<%=require('@img/product-1.png') %>" alt="" class="product__image-img">
            </div>
            <div class="product__title">
                Островная вытяжка Equilibrium Black Glass
            </div>
            <div class="product__price">
                6 690 ₽ <span class="product__price-old">6 999 ₽  </span>
            </div>
            <button class="product__add">
                <i>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.733 21.8673L20.7079 10.315C20.6895 10.0864 20.4977 9.91309 20.2654 9.91309H18.1047C18.101 7.99201 16.5376 6.4286 14.6165 6.4286C12.6954 6.4286 11.132 7.99201 11.1283 9.91309H8.96754C8.73893 9.91309 8.54719 10.0864 8.52507 10.315L7.5 21.8673V21.9079C7.5 23.1947 8.68362 24.2419 10.1364 24.2419H19.0966C20.5493 24.2419 21.733 23.1947 21.733 21.9079V21.8673ZM14.6165 7.31357C16.0509 7.31357 17.2161 8.47875 17.2198 9.91311H12.0133C12.017 8.47875 13.1822 7.31357 14.6165 7.31357ZM10.1364 23.3532H19.0965C20.0552 23.3532 20.8369 22.7153 20.848 21.9263L19.8598 10.798H18.1046V12.3503C18.1046 12.5937 17.9055 12.7928 17.6622 12.7928C17.4188 12.7928 17.2197 12.5937 17.2197 12.3503V10.798H12.0132V12.3503C12.0132 12.5937 11.8141 12.7928 11.5707 12.7928C11.3274 12.7928 11.1283 12.5937 11.1283 12.3503V10.798H9.37311L8.38491 21.9226C8.39597 22.7153 9.17768 23.3532 10.1364 23.3532Z" fill="white"/>
                    </svg>                    
                </i>
                В корзину
            </button>
        </div>
    </div>
</div>